
.RenderDiv{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}



.MainDiv{
 display: flex;
 flex:1;
 padding: 30px;
 justify-content: center;

 align-items: center;
}
.Form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 40px;

}
.Textfiell{
    margin: 20px;
}
.MuiFormControl-root{
    margin: 20px !important;
}

.Navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

ul{
    margin: 10px;
    color: cornsilk;
    text-decoration: none;
    color: cornsilk;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
li{
    
    /* display: inline-block;
    color: red; */
}